@media only screen
and (min-width : 900px)  {
	#spinny {
	    width: 30% !important;
	}
	
	#spinny-container {
		margin-top: 10% !important;
	}
}

body {
	font-family: 'Roboto Slab', serif;
	padding: 20px;
}

#title {
	font-size: calc(25px + 2vw);
}

#points-header,
#points-value {
	display: inline-block;
}

#points {
    padding: 20px 0px;
}

#spinny-container {
	text-align: center; 
	margin-top: 30%;
}

#spinny {
	width: 90%;
    max-width: 800px;
    height: auto;
}